<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
  </head>
  <body>
    <center><h2>Welcome to <%= data.username %></h2></center>
    <p align="right"><a href="/">show blogs</a></p>
    <center>
      <li><%= data.username %></li>
      <li><%= data.email %></li>
    </center>

    <br />

  </body>
</html>
